$font-family-primary: 'Inter', sans-serif;

$color-black-primary: '#000';
$color-blue-primary: '#181a32';
$color-gray-primary: '#f2f2f2';
$color-green-primary: '#4fdd9d';
$color-pink-primary: '#f5c4ca';
$color-purple-primary: '#b9c5f7';
$color-red-primary: '#f00';
$color-white-primary: '#fff';
$color-yellow-primary: '#f8e1a0';

$color-blue-secondary: '#7b90f4';
$color-gray-secondary: '#d4d4d4';
$color-green-secondary: '#80ecab';
$color-pink-secondary: '#fbd3d9';
$color-purple-secondary: '#a3b3fe';
$color-red-secondary: '#cc3366';