$color_black_primary: #111;
$color_blue_primary: #1E71BB;
$color_gray_primary: #F4F5F8;
$color_red_primary: #BB1E1E;
$color_white_primary: #FFF;

$color_black_secondary: #1D1D1B;
$color_gray_secondary: #DEDEDE;
$color_red_secondary: #B21919;

// $color_gray_ternary: #8D8D8C;