.auth-container-wrapper {
  height: 100vh;
  width: 100%;
  background: $color_gray_primary;
  padding-top: 16px;
}

.auth-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  background: $color_white_primary;
  border: none;
  border-radius: 8px;
  text-align: center;

  @media screen and (max-width: 432px) {
    margin: 60px 16px;
  }

  h2 {
    margin-bottom: 20px;
    color: $color_black_primary;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 12px;

    input {
      padding: 10px;
      border: 1px solid $color_gray_secondary;
      border-radius: 6px;
      width: 100%;
    }

    .input-row {
      display: flex;
      gap: 12px;

      input {
        flex: 1;
      }
    }

    .password-row {
      align-items: stretch;

      @media screen and (max-width: 719px) {
        flex-direction: column;
      }
    }

    .password-wrapper {
      position: relative;
      flex: 1;

      input {
        padding-right: 40px;
      }

      .show-hide-btn {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        font-size: 17.6px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }

    button[type="submit"] {
      padding: 10px;
      background-color: $color_red_primary;
      color: $color_white_primary;
      font-weight: $font_weight_medium;
      border: none;
      border-radius: 6px;
      cursor: pointer;
    }

    p {
      font-size: 12px;
      color: $color_black_primary;

      a {
        color: $color_black_primary;
      }
    }

    .error-msg {
      color: red;
      margin-top: 10px;
    }

    .success-msg {
      color: green;
      margin-top: 10px;
    }
  }
}
