.main-section-wrapper {
  .main-section-layout {
    display: flex;
    align-items: flex-start;
    gap: 0px;
    border-top: 1px solid rgba(151, 151, 151, 0.1);

    .sidebar {
      @media screen and (max-width: 719px) {
        display: none;
      }
    }
  }

  .main-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 25px 0px 25px 25px;

    @media screen and (max-width: 719px) {
      width: 100%;
      padding: 0 16px 16px;
    }

    .all-news {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 321px)); // 3 equal columns
      grid-template-rows: repeat(6, 1fr); // 2 equal rows
      gap: 22px;
      width: 100%;
      height: 100%;

      @media screen and (max-width: 719px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
      }

      @media screen and (min-width: 720px) {
        &.rows-number {
          grid-template-rows: repeat(2, 1fr); // 2 equal rows
        }
      }
    }

    .main-title {
      margin: 5px 0 18px;
      font-size: 18px;
      font-weight: $font_weight_bold;
      line-height: 24px;

      @media screen and (max-width: 719px) {
        display: none;
      }
    }
  }
}
