.sidebar {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 25px 0 0;
  width: 63px;

  .category {
    background-color: transparent;
    opacity: 50%;

    p {
      color: $color_black_secondary;
    }

    @media screen and (min-width: 1025px) {
      &:hover {
        opacity: 100%;
      }
    }

    &.chosen {
      background-color: $color_white_primary;
      opacity: 100%;

      p {
        color: $color_red_primary;
      }
    }
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 10px;
    font-weight: $font_weight_bold;
    line-height: 14px;
    padding: 14px 15px 12px;
    height: 63px;
    width: 63px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2px;

    @media screen and (min-width: 1025px) {
      &:hover {
        background-color: $color_gray_secondary;
      }
    }
  }
}
