.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-and-searchbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    @media screen and (min-width: 720px) {
        img {
            display: none;
        }
    }
}