.verify-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
  background-color: $color_gray_primary;
  padding: 16px 16px 0;
}

.verify-box {
  background: $color_white_primary;
  padding: 32px 30px;
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.message {
  font-size: 16px;
  &.success {
    color: green;
  }
  &.error {
    color: red;
  }
}

.verify-btn {
  padding: 10px 20px;
  background-color: $color_red_primary;
  color: $color_white_primary;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: $font_weight_medium;
  margin-top: 24px;
}
